/* styling the ul */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
/* styling the a links */
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
/* styling the .header section */
.header{
    /* background-color: #ffda89; */
    color: white;
    margin-bottom: 8px;
}
/* syling the .right-links in nav bar */
.right-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    order: 2;
    
}
/* styling the.left-links in the nav bar */
.left-links{
    font-size: 24px;
    color: #f9faf8;
    order: 1;
}
/* stlying #hero */
#hero{
    font-size:48px;
    font-weight:bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F9FAF8;
    font-style: italic;

}
/* styling the paragraph text */
p{
    font-size: 18px;
    color: #e5e7eb;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* styling .text class items */
.text{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* adding styles to the buttons */
button{
    padding: 10px 22px 10px 22px;
    background-color: #3882F6;
    border-radius: 6px;
    border-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
}
/* defining the layout in the .content container */
.content{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
/* resizing the images */
img{
    height: 250px;
    width: 300px;
    padding: 8px;
}
/* resizing the images in the menu section */
.menu-img{
    height: 150px;
    width: 120px;
    margin-bottom: 8px;
    padding: 16px;
}
/* defining the body layout */
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: burlywood;
}
/* defining the layout inthe menu section */
.menu{
display: flex;
align-items: center;
justify-content: center;
gap: 32px;
margin-bottom: 8px;
/* background-color: burlywood; */
}
/* setting the width size of the info class */
.info{
    max-width: 200px;
}
/* styling the customer feedback section */
.customer-feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 8px;
    /* background-color: #be95ed; */
}
/* defining the position of the citation */
cite{
    display: flex;
    justify-content: flex-end;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
/* defining the size of the blockquote */
blockquote{
    max-width: 300px;
}
/* styling the order-up section */
.order-up-call{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    margin-bottom: 8px;
    padding: 16px;
    /* background-color: #a5cff7; */
}
/* defining the layout of the footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 8px;
    /* background-color: #ffd789; */
}