ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
s
.header{
    background-color: #c29467;
    color: white;
}
.right-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    color: #e5e7eb;
    order: 2;
    
}
.left-links{
    font-size: 24px;
    color: #f9faf8;
    order: 1;
}
button{
    padding: 8px;
    background-color: #3882F6;
    border-radius: 4px;
    border-color: #3882F6;
    color: #e5e7eb;
}
.content{
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
img{
    height: 250px;
    width: 300px;
    padding: 8px;
}
.menu-img{
    height: 150px;
    width: 120px;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}